a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}
/* Two-column layout */
.left-column {
  width: 76%;
  float: left;
  margin-left:2%;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 20%;
  margin-right:2%;
  float: right;
}
.left-column60 {
  width: 59%;
  float: left;
  margin-left:1%;
}
.left-column60 h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column40 {
  width: 39%;
  margin-right:1%;
  float: right;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
  .inverse{

  background-color: #f0f0f0;
  color: #000000;
  text-shadow: none;
  }

.inverse h1, .inverse h2, .inverse h3 {
  color: #000000;
}
}

div.container div.middle{
  position: relative;
  top: 42%;
  transform: translateY(-42%);
}

div.container {
  position: relative;
  height: 85%;
  bottom: 10px;
}

.bottom {
  position: absolute;
  bottom: 3px;
  /*width: 100%;*/
}

.large {
  font-size: 130%
}
.slightly-small {
  font-size: 80%
}

.smaller {
  font-size: 75%
}
.small {
  font-size: 70%
}
.tiny {
  font-size: 50%
}

.move-up {
  margin-top:-50px !important;
}

.nudge-up {
  margin-top:-20px !important;
}

.move-left {
  margin-left:-50px !important;
}

.nudge-left {
  margin-left:-20px !important;
}


.move-down {
  margin-top:50px !important;
}

.nudge-down {
  margin-top:20px !important;
}

.inline-left{
  margin-right:auto;
  width:47%;
  display:inline-block;
}

.inline-right{
  margin-left: auto;
  width:47%;
  display:inline-block;
}


.red{
  color:red;
}

.grey, .gray{
  color:gray;
}

.toprightfig{
  position:absolute;
  top:-10px;
  right: 10px;
  max-height: 150px;
  max-width: 150px;
  height:auto;
  width: auto;
}

.underline{
  border-bottom:1px solid black;display:inline-block;
}

.hidden{
  visibility:hidden;
}

.remark-slide table.blank {
  margin:0;
  border-top:0;
  border-bottom:0;
  background-color:#FFFFFF;
}
.remark-slide table.blank tr {
  background-color:#FFFFFF;
}
